.deviceEntry {
    border: 2px solid black;
    border-radius: 1em;
}
#deviceManager {
    width: 20%;;
    margin: 2em;
    display: inline-block;
}
.chart {
    margin: 2em;;
}

.chartBox {
    display: inline-block;
    width: 70%;
    float: right;
}
